<html>

<head>
    <style>
        .container {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            background: #F3F6F9;
            height: 100%;
        }

        .container-inner {
            margin: auto;
            background: #F3F6F9;
            padding: 30px 10px;
            width: 100%;
            min-height: 250px;
        }

        .header {
            font-size: 26px;
            font-weight: bold;
            margin: 10px 0px;
        }

        .logo {
            height: 100px;
            width: 100px;
        }

        .otp-text {
            font-size: 24px;
            letter-spacing: 3px;
            width: 100%;
            font-weight: 600;
            margin: 10px 0px;
        }

        .line {
            margin-top: 10px;
        }

        .validate-text {
            color: tomato;
        }

        .margin {
            margin-top: 10px;
        }

        .footer {
            margin-top: 10px;
            color: rgb(61, 60, 60, 0.5);
            font-weight: 400;
            font-size: 10px;
        }
    </style>
</head>

<body>
    <center>
        <center class="container-inner">
            <center>
                <h1 class="logomain"> BaseTeamWork </h1>
            </center>
            <center>
                <p class="header">OTP</p>
            </center>
            <center><span class="otp-text">
                    <%= otp %>
                </span></center>
            <center class="margin"><span class="line">Here is your OTP verification code</span></center>
            <center>
                <p class="validate-text">It will expires in 3 minutes</p>
            </center>
        </center>
        <center class="footer">
            @2025 BaseTeamWork By Tatvasoft.
        </center>
    </center>

</body>

</html>