<html>

<head>
    <style>
        .container-inner {
            margin: auto;
            background: #F3F6F9;
            padding: 30px 10px;
            width: 100%;
            min-height: 200px;
        }

        .header {
            font-size: 26px;
            font-weight: bold;
            margin: 10px 0px;
        }

        .logo {
            height: 100px;
            width: 100px;
        }

        .link:link,
        .link:visited {
            background-color: #3663dd;
            color: white;
            margin-top: 10px;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        .otp-text {
            font-size: 24px;
            letter-spacing: 3px;
            width: 100%;
            font-weight: 600;
            text-align: center;
            margin: 10px 0px;
        }

        .line {
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .margin {
            margin-top: 10px;
        }

        .footer {
            margin-top: 10px;
            color: rgb(61, 60, 60, 0.5);
            font-weight: 400;
            font-size: 10px;
        }

        .logomain {
            color: " hsl(var(--primary))"
        }
    </style>
</head>

<body>
    <center>
        <center class="container-inner">
            <center>

                <h1 class="logomain"> BaseTeamWork </h1>
            </center>
            <center>
                <p class="header">Verify email</p>
            </center>
            <center>
                <span class="line">You can verify your email by clicking on this link.</span>
            </center>
            <center class="margin">
                <a class="link" href=<%=link %>>
                    Click Here
                </a>
            </center>
        </center>
        <center class="footer">
            @2025 BaseTeamWork By Tatvasoft.
        </center>
    </center>

</body>

</html>